<div class="container">
  <div class="vertical-center-row">
    <div align="center">
      <h3>Your Order Details</h3>
      <div class="checkout-bill card">
        <h5 class="card-header">Buffet</h5>
        <div class="card-body">
          <div class="d-flex justify-content-center">
            <span class="far fa-check-circle fa-10x"></span>
          </div>
          <div class="d-flex justify-content-center checkout-success">
            Checkout Successful
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
