h5:first-letter {
  text-transform: capitalize;
}
.btn {
  border-color: gold;
  font-weight: bold;
}
.btn:hover {
  background-color: goldenrod;
}
.btn:focus {
  box-shadow: none;
  outline: none !important;
}
