<div class="d-flex justify-content-between">
  <h5 class="card-text name">{{ name }}</h5>
  <div class="btn-group" role="group" aria-label="item">
    <button
      type="button"
      (click)="removeItem()"
      class="btn btn-outline-secondary"
    >
      -
    </button>
    <button type="button" class="btn btn-outline-secondary">
      {{ quantity }}
    </button>
    <button type="button" (click)="addItem()" class="btn btn-outline-secondary">
      +
    </button>
  </div>
</div>
<div class="my-2 d-flex justify-content-between">
  <h5 class="card-text">{{ quantity }} X {{ price | currency: "INR" }}</h5>
  <h5 class="card-text">{{ quantity * price | currency: "INR" }}</h5>
</div>
